.historyContainer > h1 {
  margin: 20px;
  color: #083508;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.historyLayoutContainer {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.historyLayoutContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border: 2px solid #f5f7fa;
  background: #083508;
  margin-top: 10px;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content > p {
  line-height: 1.25;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 1px;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}

@media screen and (max-width: 768px) {
  .historyLayoutContainer:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
